.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}



.widget-header{
    background: $blue;
    color: $off-grey;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin: 0;
}

.widget-body{
    padding: $l-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.widget__message{
    margin: 0;
    color: $off-grey;
    text-align: center;
    padding: $l-size;
    border-bottom: 1px solid lighten($color: $light-blue, $amount: 10);
}