html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: $dark-blue;
    color: whitesmoke;
    word-break: break-all;
}

button{
    cursor: pointer;
    &:disabled{
        cursor:not-allowed;
    }
}